/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0px;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
    margin-bottom: 35px;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
    width: 68px;
    height: 12px;
    display: flex;
}

/****** HEADER *******/
header {
    display: flex;
    align-items: center;
    height: 79px;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.header-logo-link {
    display: inline-flex;
    align-items: center;
    height: auto;
    padding: 0px;
    margin: 0px;
}

.header-logo {
    width: 61.09px;
    height: 19px
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    list-style: none;
    font-size: 16px;
    height: 35px;
    margin: 0;
    padding: 0;
    gap: 68px;
}

.nav-link-hebergement:hover,
.nav-link-activites:hover {
    border-top: 2px solid #0065FC;
    color: #0065FC;
    padding-top: 14px;
}

/* TITLES MENU */

.menu {
    margin-top: 30px;
    margin-bottom: 30px;
}

h1 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-bottom: 8px;
}

.menu p {
    font-size: 16px;
    font-weight: 400;
    margin: 0px;
}

/***** SEARCH MENU *****/

.menu-recherche {
    display: flex;
    gap: 0px;
    margin-top: 35px;
    margin-bottom: 35px;
}

.location {
    /* logo */
    color: black;
    border: 1px solid #F2F2F2;
    border-radius: 10px 0px 0px 10px;
    background-color: #F2F2F2;
    width: 50px;
    height: 49px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    DISPLAY: flex;
    align-items: center;
    justify-content: center;
}

form {
    /* FORMULAIRE BARRE DE RECHERCHE + SUBMIT */
    display: flex;
    border: 1px solid #F2F2F2;
    border-radius: 0px 10px 10px 0px;
    border-right: none;
}

input {
    /* BARRE DE RECHERCHE + SUBMIT */
    border: none;
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    justify-items: center;
    font-size: 18px;
    font-weight: 700;
    color: black;
}

input[type="submit"] {
    background-color: #0065FC;
    border-radius: 0px 10px 10px 0px;
    color: white;
    padding-left: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 16px;
    FONT-SIZE: 18px;
    font-weight: 700;
    width: 132px;
    height: 49px;
}

.btn-mobile {
    display: none;
}

.fa-magnifying-glass {
    display: none;
}

.menu-filtres-button {
    display: flex;
    align-items: center;
    padding: 0px 18px 0px 18px;
    background: white;
    color: black;
    text-decoration: none;
    border-radius: 30px;
    border: 2px solid #D9D9D9;
    height: 48px;
    font-size: 17px;
    gap: 10px;
    font-weight: 700;
}

.menu-filtres-button:hover {
    background-color: #DEEBFF;
}

.menu-filtres ul {
    display: flex;
    align-items: center;
    height: 50px;
    gap: 15px;
    padding: 0;
}

/***** FILTERS MENU ******/

.menu-filtres {
    display: flex;
    margin-bottom: 35px;
    gap: 15px;
    width: 758px;
    height: 50px;
    align-items: center;
}

.menu-filtres h3 {
    font-size: 18px;
    font-weight: 700;
}

@media (max-width: 375px) {
    .menu-filtres h3 {
        width: 100%;
    }
}

/* INFO MENU */

.menu-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.fa-info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    color: #0065FC;
    border: 1px solid #D9D9D9;
    border-radius: 90px
}

/***** SECTION HEBERGEMENT *****/

.hebergements .section-title {
    padding-bottom: 30px;
}

.section-subtitle {
    font-size: 18px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 0px;
}

.hebergements-card-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin: 0px;
}

.hebergements-card {
    background: white;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    height: 207.25px;
    width: 250.33px;
}

.hebergements-card-image {
    padding: 5px;
    height: 114px;
}

.hebergements-card-grid img {
    width: 100%;
    height: 114px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.hebergements-card-form {
    background: white;
    border-radius: 15px;
    overflow: hidden;
    /* arrondit aussi l’image */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    height: 207.25px;
}

.hebergements-card-description h4 {
    font-size: 16px;
    font-weight: 700;
    margin-top: 0px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 0px;
}

.hebergements-card-description p {
    margin: 0;
    color: #555;
    font-size: 14px;
    margin-top: 8px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 8px;
}

.hebergements-card-rating {
    margin-left: 15px;
    padding-bottom: 0px;
    display: flex;
    width: 81px;
    height: 13.25px;
    padding-top: 8px;
}

/***** Activités *****/
.activite {
    display: flex;
    justify-content: center;
    gap: 30px;
    PADDING-BOTTOM: 30px;
}

#ancre-activites h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 30px;
    padding-top: 30px;
    padding-left: 30px;
    font-size: 22px;
    font-weight: 700;
}

.activite-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 20px;
}

.activite-card img {
    border-radius: 20px 20px 0 0;
    width: 297.5px;
    height: 380px;
    object-fit: cover;
}

.activite-card-container {
    padding: 2px 16px;
}

/***** FOOTER ******/
footer {
    display: flex;
    justify-content: flex-start;
    box-sizing: border-box;
    margin-top: 30px;
    background-color: #F2F2F2;
}

footer div {
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 163px;
    width: 446.67px;
    padding: 20px;
}

footer h2 {
    font-size: 18px;
    font-weight: 700;
    padding: 0px;
    margin: 0px;
}

footer ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    .main-container {
        display: flex;
        flex-direction: column;
    }

    .menu-filtres {
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        justify-content: space-around;
        gap: 10px;
    }

    .menu-filtres ul {
        flex-wrap: wrap;
        height: auto;
        width: 100%;
    }

    .menu-filtres h3 {
        width: 100%;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 15px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    #ancre-activites {
        height: auto;
        width: auto;
        padding-left: 30px;
        padding-right: 30px;
    }

    #ancre-activites h2 {
        padding-left: 0px;
    }

    .activite {
        height: auto;
        width: 100%;
    }

    .activite-card {
        display: flex;
        flex-direction: column;
        height: 270px;
        width: 100%;
    }

    .activite-card img {
        height: 200px;
        width: 100%;
    }

    .activite-card-container {
        width: auto;
        height: auto;
        padding-left: 19px;
        padding-right: 19px;
        display: flex;
        align-items: center;
        padding-top: 20px;
        border-bottom-width: 20px;
    }

    .activite-card-container h4 {
        width: auto;
        height: 100%;
        margin-top: 0px;
        margin-bottom: 0px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    .main-container {
        display: flex;
        flex-direction: column;
        padding: 0px;
        gap: 30px;
        padding: 0px;
    }

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px;
        padding: 0px;
    }

    .header-logo-link {
        margin: 0px;
        padding: 30px;
    }

    .nav-list {
        display: flex;
        height: 19px;
        gap: 0px;
    }

    .nav-link-hebergement:hover,
    .nav-link-activites:hover {
        border-top: 0px solid #0065FC;
        color: #0065FC;
        padding-top: 0px;
        border-bottom: 2px solid #0065FC;
        padding-bottom: 14px;
    }

    nav li {
        width: 187.5px;
        display: flex;
        justify-content: center;
    }


    .menu {
        padding: 0px 20px 0px 20px;
    }

    .btn-desktop {
        display: none;
    }

    .btn-mobile {
        display: flex;
        width: 49px;
        height: 49px;
        background-color: #0065FC;
        border: none;
        border-radius: 0 10px 10px 0;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 20px;
        cursor: pointer;
    }

    .fa-magnifying-glass {
        display: flex;
        color: white;
    }

    form {
        border-radius: 10px;
        width: auto;
        justify-content: end;
    }

    .menu-recherche {
        justify-content: center;
    }

    .location {
        width: 48px;
    }

    /* Filtres */
    .menu-filtres {
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        justify-content: space-around;
        gap: 10px;
    }

    .menu-filtres ul {
        justify-content: center;
    }

    .menu-filtres-button {
        border-radius: 30px;
        font-size: 14px;
        width: 35%;
    }

    [class^="btn"] {
        justify-content: center;
        width: 49px;
        height: 49px;
        padding-top: 0px;
        padding-left: 0px;
        padding-bottom: 0px;
        padding-right: 0px;
        border-radius: 15px;
        border-top-width: 1px;
        border-bottom-width: 1px;
        border-left-width: 1px;
    }


    /* Sections */
    .hebergements-and-populaires {
        flex-direction: column;

    }

    .hebergements-and-populaires section {
        border-radius: 0px;
        margin-top: 0px;
        padding-top: 35px;
    }

    /* Hébergements */

    .hebergements .section-title {
        padding-bottom: 0px;
    }

    #ancre-hebergement.hebergements {
        background-color: white;
        padding: 20px;
        padding-top: 35px;
        gap: 15px;
        flex-direction: column;
        display: flex;
        padding-bottom: 15px;
        margin-bottom: 0px;
    }

    .hebergements-card-grid {
        grid-template-columns: 1fr;
        gap: 15px;
    }

    .hebergements-card {
        width: 100%;
        padding-bottom: 15px;
    }

    .hebergements-card-description p {
        padding-bottom: 8px;
    }

    .hebergements-card-rating {
        padding-bottom: 0px;
        width: 81px;
        height: 13.25px;
        display: flex;
    }

    .section-subtitle {
        margin-top: 0px;
    }

    /* Populaires */
    .populaires-cards {
        flex-direction: column;
    }

    .populaires-cards a {
        width: 100%;
    }

    .populaires-cards .card-rating {
        width: 68px;
        height: 12px;
        DISPLAY: flex;
        gap: 0px;
        margin-bottom: 0px;
    }

    /* Activités */

    #ancre-activites {
        margin-top: 65px;
    }

    #ancre-activites h2 {
        padding-left: 30px;
    }

    .activite {
        flex-direction: column;
        align-items: center;
        padding-bottom: 0px;
    }

    .activite-card {
        width: 315px;

    }

    .activite-card img {
        width: 100%;
        height: 200px;
    }

    /* Footer */
    .footer {
        flex-direction: column;
    }

    .footer div {
        width: 100%;
    }

    .populaires {
        order: -1;
    }

    .hebergements {
        order: 1;
    }

    footer {
        flex-direction: column;
        gap: 50px;
    }

    footer div {
        padding-left: 30px;
        padding-top: 0px;
        padding-bottom: 0px;
        height: auto;
    }

    .footer-a-propos {
        padding-top: 30px;
    }

    .footer-assistance {
        padding-bottom: 30px;
    }
}