/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0px;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}


/* PARTIE HEADER */
header{
    display: flex;
    height: 79px;
}

.header-logo-link{
    height: 19px;
    padding-bottom: unset;
    padding-top: unset;
    margin-top: 30px;
    margin-bottom: 30px;
}

.header-logo {
    width: 61.09px;
    height: 19px
}

nav{
    margin-left: auto;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    list-style: none;
    font-size: 16px;
    height: 35px;
    margin: 0;
    padding: 0;
    gap: 68px;
}

.nav-link-hebergement:hover,
.nav-link-activites:hover {
    border-top: 2px solid #0065FC;
    padding-top: 14px;
}


/* TITLES MENU */
.menu {
    margin-top: 30px;
    margin-bottom: 30px;
}

h1 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-bottom: 8px;
}

.menu p{
    font-size: 16px;
    font-weight: 400;
    margin: 0px;
}


/* SEARCH MENU */
.menu-recherche {
    display: flex;
    gap: 0px;
    margin-top: 35px;
    margin-bottom: 35px;
}

.location{ /* logo */
    color: black;
    border: 1px solid #F2F2F2;
    border-radius: 10px 0px 0px 10px;
    background-color: #F2F2F2;
    width: 50px;
    height: 49px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    DISPLAY: flex;
    align-items: center;
    justify-content: center;
}

form{ /* FORMULAIRE BARRE DE RECHERCHE + SUBMIT */
    display: flex;
    border: 1px solid #F2F2F2;
    border-radius: 0px 10px 10px 0px;
    border-right: none;
}

input{ /* BARRE DE RECHERCHE + SUBMIT */
    border: none;
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    justify-items: center;
    font-size: 18px;
    font-weight: 700;
    color: black;
}

input[type="submit"] {
    background-color: #0065FC;
    border-radius: 0px 10px 10px 0px;
    color: white;
    padding-left: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 16px;
    FONT-SIZE: 18px;
    font-weight: 700;
    width: 132px;
    height: 49px;
}

[class^="btn"] {
    padding: 13px 20px;
    background: white;
    color: black;
    text-decoration: none;
    border-radius: 20px;
    border: 1px solid #D9D9D9;
    height: 20px;
    font-size: 17px;
    display: flex;
    gap: 10px;
    font-weight: 700;
    align-items: center;
    border-bottom-width: 2px;
    border-top-width: 2px;
    border-left-width: 2px;
    border-right-width: 2px;
}


/* FILTERS MENU */
.menu-filtres{
    display: flex;
    margin-bottom: 35px;
    gap: 15px;
    width: 758px;
    height: 50px;
    align-items: center;
}

.menu-filtres P{
    font-size: 18px;
    font-weight: 700;
}


/* INFO MENU */
.menu-info{
    display: flex;
    align-items: center;
    gap: 10px;
}

.menu-info-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    color: #0065FC;
    border: 1px solid #D9D9D9;
    border-radius: 90px
}

/* SECTION HEBERGEMENT */

.hebergements h2{
    padding-bottom: 30px;
}

.hebergements-card-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colonnes */
    gap: 30px; /* espace entre les cards */
    margin: 0px;
}

.hebergements-card{
    background: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s 
ease, box-shadow 0.2s 
ease;
    height: 207,25px;
}

.hebergements-card-grid img{
    width: 100%;
    height: 124px;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
    padding: 5px;
}

.hebergements-card-form{
    background: white;
    border-radius: 15px;
    overflow: hidden; /* arrondit aussi l’image */
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    height: 207.25px;
}

.hebergements-card-description h4{
    font-size: 16px;
    font-weight: 700;
    margin-top: 0px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 0px;
}

.hebergements-card-description p{
    margin: 0;
    color: #555;
    font-size: 14px;
    margin-top: 8px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 8px;
}







/* Add rounded corners to the top left and the top right corner of the image */
.port {
  border-radius: 5px 5px 0 0;
}

h3{
    font-size: 100%;
    margin-top: 6px;
}

/* CARTES (card2, card3, card4) */
.populaires-cards article {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    display: flex;
    gap: 15px;
    height: 146px; /* hauteur exacte de la maquette */
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}


/* IMAGE */


/* CONTENU TEXTE */
.card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px 0;
}

.card-subtitle {
    font-size: 14px;
    margin: 5px 0 0 0;
}

.neutral-star {
    color: #F2F2F2;
}


.card1 p {
    margin: 0;
    color: #555;
    font-size: 14px;
    margin-top: 8px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 8px;
}

.card1 h4 {
    font-size: 16px;
    margin-top: 0px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 0px;
}

.card1 img {
    width: 100%;
    height: 124px;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
    padding-bottom: 5px;
}

.card1 {
    background: white;
    border-radius: 15px;
    overflow: hidden; /* arrondit aussi l’image */
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    height: 207.25px;
}

b {
    font-weight: bolder;

}

.card-rating1{
    padding: 0 15px 15px;
}

.populaires {
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 30px;
    width: 32%;         /* largeur colonne droite sur desktop (maquette) */
    display: flex;
    flex-direction: column;
}

/* CONTENEUR DES CARTES */
.populaires-cards {
    display: flex;
    flex-direction: column;
}

.populaires-cards img {
    width: 35%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 0 0 20px;
}






